#commentsBlock {
    display: flex;
    height: 30em;
}

#commentsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0em;
    margin: 1.5em 0em 0em 0em;
    list-style-type: none;
    overflow: scroll;
}

#commentsList::-webkit-scrollbar {
    display: none;
}

/*********************************************/

#FirstComment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0.3em;
}

.comonComment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0.3em;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    margin-bottom: 1.5em;
}

.commentHeader {
    font-weight: 400;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentInfo {
    display: flex;
    margin-top: 1em;
    color: rgb(0, 0, 0, 0.3);
    font-weight: 700;
    font-size: 0.9em;
}

.infoSubtitle {
    margin-right: 1em;
}

.commentHeart {
    margin-right: 1.7em;
    width: 1.5em;
    cursor: pointer;
}