body {
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainConteiner {
    margin: auto;
    margin-top: 5em;
    background-color: white;
    display: flex;
    width: 85em;
}

.ImgConteiner {}

.commentsConteiner {
    width: 35em;
}