body {
    /* overflow-y: hidden; */
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.mainContainer {
    margin: auto;
    margin-top: 5em;
    background-color: white;
    display: flex;
    width: 85em;
}

.ImgContainer {}

#mainImg {
    height: 100%;
    width: 50em;
    background-size: cover;
}

.commentsContainer {
    width: 35em;
}

.commentsContainerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ppHeaderBlock {
    display: flex;
    padding-left: 0.3em;
    height: 4em;
    align-items: center;
}

.profilePicture {
    height: 2em;
    margin-left: 0.5em;
    border-radius: 50%;
    border: double 1em transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(to right top, rgb(255, 175, 70), rgb(207, 83, 176));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-width: 0.2em;
}

#commentsHeader {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#threeDots {
    margin-right: 1em;
    width: 2em;
}

#commentsBlock {
    display: flex;
    height: 30em;
}

#commentsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0em;
    margin: 1.5em 0em 0em 0em;
    list-style-type: none;
    overflow: scroll;
}

#commentsList::-webkit-scrollbar {
    display: none;
}

/*********************************************/

#FirstComment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0.3em;
}

.comonComment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0.3em;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    margin-bottom: 1.5em;
}

.commentHeader {
    font-weight: 400;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentInfo {
    display: flex;
    margin-top: 1em;
    color: rgb(0, 0, 0, 0.3);
    font-weight: 700;
    font-size: 0.9em;
}

.infoSubtitle {
    margin-right: 1em;
}

.commentHeart {
    font-size: 0.55em;
    margin-right: 1.7em;
    width: 1.5em;
    cursor: pointer;
}

#replayArea {
    height: 11em;
    padding-top: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.likeContainer {
    height: 70%;
}

#icons {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5em;
}

#saveSVG {
    width: 1.3em;
    margin-right: 1.2em;
}

#allLikes {
    margin: 1em 0em 0em 0.5em;
    display: flex;
    flex-direction: column;
}

.likeFP {
    width: 1.5em;
    height: 1.5em;
    border: 0em;
}

#firstPP {
    z-index: 1;
}

#secondPP {
    margin-left: -0.5em;
}


.likeByWho {
    display: flex;
}

#likedBy {
    margin-left: 0.3em;
}

#hoursAgo {
    font-size: 0.8em;
    margin-left: 0.5em;
    margin-top: 0.6em;
    font-weight: 600;
    color: #8e8e8e;
    opacity: 0.7;
}

/**************************************************/

#inputForm {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 30%;
    display: flex;
}

.inputArea {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

#commentInput {
    all: unset;
    font-size: 1.17em;
    margin-left: 00.50em;
}

.svgImg {
    width: 1.5em;
    margin: 0 0.50em;
    cursor: pointer;
}

#smileSVG {
    font-size: 1.17em;
}

#postComment {
    all: unset;
    margin-right: 1em;
    font-weight: 600;
    font-size: 1.17em;
    padding: 0;
    color: rgb(165, 212, 235);
    cursor: pointer;
}

#postComment:hover {
    color: #3FA7DB;
}