@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
body{
    overflow-y: hidden;
    margin: 0;
    background-color: rgb(230, 230, 230);
    display: flex;
    font-family: 'Oswald', sans-serif;
}

    .mainConteiner{
        margin: auto;
        margin-top: 5em;
        background-color: white;
        display: flex;
        flex-direction: row;
        height: 45em;
        width: 85em;
        border: 1em;
        border-radius: 0.1em;
    }
        .ImgConteiner{
            display:flex;
            height: 45em;
            width: 50em;
        }

        #mainImg{
            position: relative;
            height: 45em;
            width: 50em;
            object-fit: cover;
        }

    .commentsConteiner{
        height: 45em;
        width: 35em;
    }

        .commentsConteinerHeader{
            display: flex;
            flex-direction: row;
        }

            .profilePicture{
                display: block;
                margin-block-start: 0.8em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                height: 2em;
                width: 2em;
                margin-left: 0.5em;

                border-radius: 50%;
                border: double 1em transparent;
                background-image: linear-gradient(white, white), 
                    linear-gradient(to right top, rgb(255, 175, 70), rgb(207, 83, 176));
                background-origin: border-box;
                background-clip: content-box, border-box;
                border-style: solid;
                border-width: 0.2em;
                border-color: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1; */
            }

            #commentsHeader{
                display: block;
                margin-block-start: 0.8em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                margin-left: 0.5em;
                font-size: 1.17em;
            }

            #threeDots{
                display: block;
                margin-block-start: 0.8em;
                margin-block-end: 1em;
                margin-inline-start: 18em;
                margin-inline-end: 0px;
                height: 2em;
                width: 2em;
            }
        .hr{
            margin: 0;
        }