body{
    overflow-y: hidden;
    margin: 0;
    background-color: rgb(230, 230, 230);
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

    .mainConteiner{
        margin: auto;
        margin-top: 5em;
        background-color: white;
        display: flex;
        flex-direction: row;
        height: 45em;
        width: 85em;
        border: 1em;
        border-radius: 0.1em;
    }
        .ImgConteiner{
            display:flex;
            height: 45em;
            width: 50em;
        }

        #mainImg{
            position: relative;
            height: 45em;
            width: 50em;
            object-fit: cover;
        }

    .commentsConteiner{
        position: relative;
        height: 45em;
        width: 35em;
    }

        .commentsConteinerHeader{
            display: flex;
            flex-direction: row;
        }

            .profilePicture{
                display: block;
                margin-block-start: 0.8em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                height: 2em;
                width: 2em;
                margin-left: 0.5em;

                border-radius: 50%;
                border: double 1em transparent;
                background-image: linear-gradient(white, white), 
                    linear-gradient(to right top, rgb(255, 175, 70), rgb(207, 83, 176));
                background-origin: border-box;
                background-clip: content-box, border-box;
                border-style: solid;
                border-width: 0.2em;
                border-color: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1; */
            }

            #commentsHeader{
                display: block;
                margin-block-start: 1.2em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                margin-left: 0.5em;
                font-size: 1em;
            }

            #threeDots{
                display: block;
                margin-block-start: 1.2em;
                margin-block-end: 1em;
                margin-inline-start: 18em;
                margin-inline-end: 0px;
                height: 2em;
                width: 2em;
            }
        .hr{
            margin: 0;
        }
        #commentsBlock{
            display: flex;
            flex-direction: row;
            margin: 0em;
            height: 29.5em;
        }
            #commentsList{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0em;
                margin: 1em 0em 0em 1em;
                list-style-type: none;
                overflow:scroll;
                overflow-x: hidden;
            }
            #FirstComment{
                display: flex;
                flex-direction: row;
            }
            .comment{
                display: flex;
                position: relative;
                flex-direction: row;
                height: 4em;
            }
            .commentHeader{
                position:absolute;
                top: 1em;
                left: 4em;
                font-weight: 400;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            .commentInfo{
                display: flex;
                flex-direction: row;
                color: rgb(0, 0, 0, 0.5);
                position:absolute;
                left: 4.35em;
                bottom: 0em;
                font-size: 0.9em;
            }

            .infoSubtitle{
                margin-right: 1em;
            }
            .commentHeart{
                position:absolute;
                right:2em;
                top: 3em;
                font-size: 0.55em;
            }

        #replayArea{
            display: flex;
            flex-direction: column;
            position:absolute;
            bottom: 0;
            height: 10em;
            width: 35em;
            padding-top: 1em;
            border-top: 1px solid rgba(0, 0, 0, 0.5);
            padding-top: 1em;
        }
        #allLikes{
            display: flex;
            flex-direction: row;
        }
        .likeFP{
            position: absolute;
            top: 2.3em;
            width: 1.5em;
            height: 1.5em;
            border: 0em;
        }
        #hoursAgo{
            position: absolute;
            top: 5.8em;
            left: 1.1em;
            font-size: 0.8em; 
            color: rgb(0, 0, 0, 0.5) ;      
        }
        #secondFP{
            left: 1.1em;
        }
        #likedBy{
            position: absolute;
            top: 3em;
            left: 3.5em;
        }
        #inputForm{
            position:absolute;
            bottom: 0;
            font-size: 1.17em;
            z-index: 1;
            border-top: 1px solid rgba(0, 0, 0, 0.5);;
        }
        #commentInput{
            all : unset;
            margin-left: 4em;
            width: 26em;
            height: 3.5em;
        }
        #icons{
            display: flex;
            position: relative;
         }
        #saveSVG{
           position:absolute;
           right: 1em;
           width: 1.3em;
        }
        .svgImg{
            width: 1.5em;
            margin: 0 0.51em;
            cursor: pointer;
        }
        #smileSVG{
            position:absolute;
            margin: 0;
            left: 1em; 
            bottom: 1em;
        }
        #postComment{
            all : unset;
            position:absolute;
            padding: 0;
            height: 1.5em;
            margin: 0;
            right: 1em;
            bottom: 1.2em;
            color: rgb(188, 219, 235);
            cursor: pointer;
        }
        
      